@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

 .attribution 
    { font-size: 11px; text-align: center;
    color: aliceblue;
    margin-top: 5px;
    }
.attribution a
    { color:  hsl(25, 97%, 53%) }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
     list-style-type: none;
}

body{
    font-family: overpass, sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 15px;
   
   
}

.main-container {
    max-width: 400px;
    height: 400px;
    background-color: hsl(213, 19%, 18%);
    padding: 40px 30px 30px ;
    color:hsl(217, 12%, 63%);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


h1{
    color: white;
}

.main-img {
    max-width:35px;
    background-color: hsl(210, 22%, 24%);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.btn {
    background-color: hsl(211, 21%, 21%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    color: hsl(217, 12%, 63%);
}

#Submit-btn {
    background-color: hsl(25, 97%, 53%);
    padding: 10px;
    border-radius: 25px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    
}

.btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: black;
    cursor: pointer;
}

.btn:focus{
    background-color: aliceblue;
    color: black;
}

#Submit-btn-thankx:hover , #Submit-btn:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;

}

.thankyou-container {
    max-width: 400px;
    height: 400px;
    background-color: hsl(213, 19%, 18%);
    padding: 40px 30px 30px ;
    color:hsl(217, 12%, 63%);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.thnkx-img {
    width: 40%;
}

.text {
    background-color:hsl(211, 21%, 21%);
    padding: 5px 20px;
    border-radius: 15px;
    color:  hsla(25, 97%, 53%, 0.932);
}

#Submit-btn-thankx {
    background-color: hsl(25, 97%, 53%);
    padding: 10px;
    border-radius: 25px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    width:90%;
    
}

.hidden {
    display: none;
}